.viewContainer {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(199, 195, 195);
}

.previewImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
