.uploadContainer {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(199, 195, 195);
  margin:0;
  opacity: 0.9;
}
