.container {
  width: 200px;
  height: 350px;
  margin: 80px auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(red, green, blue, alpha);
  border: 2px solid #333;
  border-radius: 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
