.container {
  width: 200px;
  height: 350px;
  margin: 80px auto;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(#ff0000, #008000, #0000ff, #000000);
  border: 2px solid #333;
  border-radius: 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(156, 147, 147);
  opacity: 0.8;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
